{% extends 'base.html' %} {% block title %}Raw Form Example{% endblock %} {% block content %}

<link rel="stylesheet" href="/static/css/style.css">

<a class="exit" href="/">X</a>

<div class="content">

    <figure class="snip1200">
        <img src="/static/test.jpg" alt="sq-sample31" />
        <figcaption>
            <p id="desc"></p>
            <div class="heading">
                <h2>Tür: <span class="type"></span></h2>
            </div>
        </figcaption>
        <a href="#"></a>
    </figure>

</div>

<div class="footer">
    <a href="https://www.kaggle.com/datasets/alxmamaev/flowers-recognition" target="__blank">powered by Flowers Recognition</a>
    <a href="https://www.instagram.com/mbakar9" target="__blank">created by Mustafa Bakar</a>
</div>

<script src="/static/js/app.js"></script>

{% endblock %}